//Colors
$text-color: #A1ABC9;
$text-title-color: #202225;
$alert-message-color: #F6657F;
$form-wrapper-background-color: #F9FAFF;
$input-color: #FFFFFF;
$form-button-link-color: #7297FF;

//Borders
$input-hover-border: 1px solid #7297FF;
$input-border: 1px solid #DCE0EC;

//Sizes
$fields-of-forms-mobile-size: 256px;
$fields-of-forms-tablet-desktop-size: 368px;