@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker {
    border: none !important;
}
.react-datepicker__month-container {
    padding: 32px !important;
    width: 400px;
    height: 473px;
    background: #FFFFFF;
    border-radius: 17px;
}
.react-datepicker__header {
    margin-bottom: 20px !important;
    padding: 0 !important;
    background-color: transparent !important;
    border-bottom: none !important;
 }

.react-datepicker__navigation--next {
    right: 30px !important;
}

.react-datepicker__navigation--previous {
    left: 30px !important;
}

.react-datepicker__current-month {
    padding-bottom: 32px !important;
    border-bottom: 1px #DCE0EC solid;
}

.react-datepicker__navigation {
    top: 25px !important;
}

.react-datepicker__day-names {
    margin-top: 16px !important;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    color: #A1ABC9;
}

.react-datepicker__month {
    margin-top: 16px !important;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.react-datepicker__week {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.react-datepicker__day {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    width: 33px !important;
    height: 33px !important;
    border-radius: 12px !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}

.react-datepicker__day:hover {
    border: 1px #7297FF solid;
    color: #202225;
    background-color: transparent !important;
}

.react-datepicker__day--keyboard-selected {
    background: #7297FF !important;
}
