.Toastify__toast {
  width: 468px;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: #34C197;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: #FF2567;
}
