@import './../common/reset.scss';
@import './../common/variables.scss';
@import './../common/fonts.scss';
@import './../common/mixins.scss';

@media (min-width: 320px) and (max-width: 767px) {
    .patient-cabinet__patient-name {
        display: none;
    }

    .patient-cabinet__patient-specialty {
        display: none;
    }
    .patient-cabinet__appointment-btn {
        display: none;
    }
}