// COLORS
/// Form colors
$text-color: #A1ABC9;
$text-title-color: #202225;
$alert-message-color: #F6657F;
$form-wrapper-background-color: #F9FAFF;
$input-color: #FFFFFF;
$form-button-link-color: #7297FF;
/// Doctor-cabinet-color
$doctor-cabinet-background-color: #E4EBFF;
$doctor-cabinet-info-background-color: #F9FAFF;
$doctor-cabinet-inactive-tab-color: #FFFFFF;
$doctor-cabinet-active-tab-color: #7297FF;
$doctor-cabinet-active-tab-text-color: #FFFFFF;
$doctor-cabinet-inactive-tab-text-color: #7297FF;
$doctor-cabinet-patient-active-color: #34C197;
$doctor-cabinet-patient-inactive-color: red;
// Borders
/// Form colors
$input-hover-border: 1px solid #7297FF;
$input-border: 1px solid #DCE0EC;

//Doctor-view 
%patients-list-border-radius {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

// Sizes
/// Form colors
$fields-of-forms-mobile-size: 256px;
$fields-of-forms-tablet-desktop-size: 368px;

// Fonts 
/// Doctor-view
%bold-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
}

%semi-bold-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
}

%button-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
}

%bold-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

%input-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
}

%patient-name {
    font-family: Poppins;
    font-weight: 600;
    font-size: 17px;
    line-height: 130%;
}

%patient-status {
    font-family: Poppins;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
}